.login-main {
  height: 100%;
  background: url(../../assets/images/banner.png) no-repeat;
  background-size: 100% 170px;
  padding-top: 130px;
}
.form-main {
  background: #fff;
  border-radius: 6px;
  margin: 0 14px 0;
  min-height: 100px;
  overflow: hidden;
}